{{#each this}}
<h2 class="country-name">{{name}}</h2>
<div class="flex-container">
    <div class="flex-text">
        <li>
            <p><b>Capilat: </b>{{capital}}</p>
        </li>
        <li>
            <p><b>Population: </b>{{population}}</>
        </li>
        <li>
            <p><b>Languages: </b></p>
        </li>
        <ul class="languages-list">
            {{#each languages}}
            <li class="languages-list-countries">{{name}}</li>
            {{/each}}
        </ul>
    </div>
    <div class="flex-image">
        <img src="{{flag}}" alt="The flag of {{name}}">
    </div>
</div>

{{/each}}